<!doctype html>
 <!-- El atributo xmlns:th declara el namespace de Thymeleaf
 Esto le permite al motor de plantillas a tu IDE entender y
 procesar todos los atributos especiales que comiencen
 con el prefijo th:, como th:text.
 
 th: es una instrucción de Thymeleaft y debes reemplazarlo con datos
 del modelo o ejecutar una lógica --> 
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página de saludo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="bg-black text-light">
    <h1 th:text="|Bienvenido, ${userName}!|">Saludo</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>